!!! Strict
%html
   %head
      %script( src="vue.js"             type="text/javascript" language="javascript" )
      %script( src="casperExplorer.js"  type="text/javascript" language="javascript" )
      %link(  href="casperExplorer.css" type="text/css"        rel="stylesheet" )
   %body
      %chain( v-bind:chain='data[ "chain" ]' )
      %deploy-buffer( v-bind:deployBuffer='data[ "deployBuffer" ]' )
      %text-window
