!!! Strict
%html
   %head
      %link(  href="casperExplorer.css" type="text/css" rel="stylesheet" )
   %body
      %div#controls
         %img( src="casperLogo.png" )
         %div.button
            accounts
         %div.button
            explore dag
         %div.button
            deploy
         %div.button
            query
         %div.button
            network
      %div#main
